/* Tipografías */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-family: 'Montserrat', sans-serif;
}

/* Barra de navegación */
header {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    padding: 10px 0;
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.contenidoCentrado {
	max-width: 1000px;
	margin: 0 auto;
}

#logoPrincipal {
	width: 30%;
	display: inline-block;
}

#menuPrincipal {
	width: 70%;
	float:right;
	padding-top: 40px;
	text-align:right;
}

#menuPrincipal ul li {
	margin-left: 40px;
	display: inline-block;
	font-size: 14px;
}

#menuPrincipal li a:hover {
	border-top: 3px solid #312633;
	padding-top: 10px;
}

#menuPrincipal li a.seleccionado {
	border-top: 3px solid #312633;
	padding-top: 10px;
}

.lineaCorta {
    background-color: #312633;
    height: 5px;
    width: 100px;
    margin: 0 auto;
}


/* Banners */

#seccionBanners {
	margin-top: 90px;
	background-image:url(imagenes/banner-buscar.jpg);
	height: 390px;
	width: 100%;
	background-size: cover;
}

#seccionBanners h1 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 44px;
    padding-bottom: 30px;
}

#seccionBanners .contenidoCentrado {
	text-align: center;
	padding-top: 140px;
}

#seccionBanners form input, #seccionBanners form select {
	padding: 15px;
	    background: #fff;
}

#seccionBanners form input[name="ubicacion"] {
	width: 40%;
}

#seccionBanners form button {
    padding: 15px;
    background-color: #312633;
    color: #FFF;
    border: 1px solid #312633;
}


/* Secciones del sitio */

#seccionesSitio {
	background-color: #f8f8f8;
	text-align: center;
	width: 100%;
}

#seccionesSitio article {
    display: inline-block;
    padding: 20px 10px;
    width: 30%;
}

#seccionesSitio article h2 {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0 5px 0;
}

#seccionesSitio article p {
	font-size: 14px;
}


/* Seccion de novedades */

#seccionNovedades {
	box-sizing: border-box;
	padding: 20px;
	position: static;
	text-align: center;
	width: 100%;
	margin-top: 30px;
}

#seccionNovedades h2 {
    font-size: 40px;
    padding: 40px 150px;
}

#seccionNovedades h2 span {
	font-weight: bold;
}

.contenedorNoticias {
	margin-top: 50px;
}

.posteoNoticia {
    box-sizing: border-box;
    padding: 5px;
    width: 30%;
    display: inline-block;
    position: relative;
}

.posteoNoticia img {
    width:100%;
    height:100%;
}

.posteoNoticia h3 {
    position: absolute;
    top: 35%;
    padding: 0 40px;
    z-index: 99;
    color: #FFF;
    font-size: 22px;
    line-height: 23px;
}

.overlay {
    background: rgba(0,0,0,0.3);
    width: 97%;
    position: absolute;
    top: 4px;
    height: 96%;
    z-index: 9
}

footer {
	background-color: black;
	box-sizing: border-box;
	color: white;
	display: inline-block;
	font-size: 14px;
	padding: 10px 20px;
	position: static;
	text-align: right;
	width: 100%;
}